html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* clear deafult stylings for browser consistencies */
@tailwind base;

/* define the default styles here */
@layer base {
  h1 {
    @apply text-xl md:text-2xl mb-1 mt-3 font-bold;
  }
  h2 {
    @apply text-lg md:text-xl mb-1 mt-2 font-semibold;
  }
  h3 {
    @apply text-base md:text-lg mb-1 mt-2;
  }
  p {
    @apply text-sm md:text-base my-1 text-gray-800;
  }
  li {
    @apply ml-8;
  }
  table {
    @apply table p-4 bg-white shadow rounded-lg;
  }
  th {
    @apply border-b-2 font-normal text-gray-900 text-left;
  }
  td {
    @apply text-gray-700;
  }
  tr {
    @apply border-b-2;
  }
}

@tailwind components;
@tailwind utilities;
